@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-crimson-pro: "Crimson Pro", serif;
  --font-lora: "Lora", serif;

  --color-dark: hsla(270, 4%, 9%, 1);
  --color-gray: hsla(0, 0%, 51%, 1);

  --color-gray-3: hsla(0, 0%, 74%, 1);
  --color-gray-4: rgb(168, 168, 168);
}

body {
  color: white;
  background: var(--color-dark);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  cursor: pointer;
}

nav {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  font-family: var(--font-crimson-pro);
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  border: 1px solid white;
}

nav .nav__hamburger-button {
  cursor: pointer;
  z-index: 4;
}

nav .nav__hamburger-button .nav__hamburger-button__bar {
  height: 4px;
  width: 25px;
  background-color: #fff;
  margin-top: 4px;
  background-repeat: 2px;
  display: none;

  transform-origin: 23.6px;

  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

nav .nav__hamburger-button__bar:nth-child(1) {
  margin-top: 0;
}

nav .hamburger-button--open .nav__hamburger-button__bar:nth-child(1) {
  transform: rotate(-45deg);
}

nav .hamburger-button--open .nav__hamburger-button__bar:nth-child(2) {
  opacity: 0;
}

nav .hamburger-button--open .nav__hamburger-button__bar:nth-child(3) {
  transform: rotate(45deg);
}

nav .nav-slider {
  justify-self: end;
}

nav ul.nav__menu {
  display: flex;
  gap: 86px;
}

nav .nav__slider.menu--open {
  transform: translateX(-100%);
}

li a.nav__menu__link {
  font-family: var(--font-montserrat);
  cursor: pointer;
}

li a.nav__menu__link.--active {
  font-weight: 700;
  position: relative;
}

li a.nav__menu__link.--active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -8px;
  left: 0;
}

main {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  margin-bottom: 200px;
  align-items: center;
  padding-top: 150px;
  font-family: var(--font-montserrat);
}

main .main__content {
  width: 100%;
  max-width: 400px;
}

main .main__content .main__content__title {
  font-family: var(--font-lora);
  font-size: 48px;
  margin-bottom: 40px;
}

main .main__content .main__content__description {
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 29px;
}

main .main__content .main__content__link {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

main .main__content .main__content__link::after {
  font-family: "Material Icons";
  content: "trending_flat";
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 20px;
}

.main__hero {
  position: relative;
}

.main__hero .designer-card {
  position: absolute;
  width: 100%;
  max-width: 400px;
  display: flex;
  bottom: -110px;
  right: 20px;
  flex-direction: column;
  padding: 26px 30px 34px 26px;
  background: var(--color-dark);
}

.main__hero .designer-card .designer-card__profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.main__hero .designer-card .designer-card__profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.main__hero .designer-card .designer-card__profile .designer-card__profile__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__hero .designer-card .designer-card__profile .designer-card__profile__text .name {
  font-weight: 500;
  font-size: 14px;
}

.main__hero .designer-card .designer-card__profile .designer-card__profile__text .occupation {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-gray);
}

.main__hero .designer-card .designer-card__text {
  font-family: var(--font-lora);
  width: 100%;
  max-width: 287px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

footer .attribution {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  /* position: absolute; */
  bottom: 0;
  font-weight: 500;
  left: 0;
  right: 0;
  color: var(--gray-3);
}

footer .attribution a {
  font-weight: 700;
  color: var(--gray-4);
  transition: all 0.2s ease-in;
}

footer .attribution a:hover {
  color: var(--gray-2);
}

@media (max-width: 1200px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }

  nav {
    margin-right: 0;
  }
}

@media (max-width: 840px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  main {
    flex-direction: column;
  }

  main .main__content {
    align-self: flex-start;
  }
}

@media (max-width: 720px) {
  nav button.nav__hamburger-button.hamburger-button--open {
    position: fixed;
    right: 20px;
  }

  nav button.nav__hamburger-button .nav__hamburger-button__bar {
    display: block;
  }

  nav .nav__slider {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
    background-color: var(--color-dark);
    color: white;

    transition: transform 0.4s ease-in-out;
  }

  nav .nav-slider ul.nav__menu {
    padding-right: 40px;
  }

  nav ul.nav__menu {
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  body {
    padding-left: 12px;
    padding-right: 12px;
  }

  nav {
    top: 20px;
  }

  nav button.nav__hamburger-button.hamburger-button--open {
    right: 12px;
  }

  main {
    padding-top: 60px;
    gap: 60px;
    margin-bottom: 250px;
  }

  main .main__content .main__content__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  main .main__content .main__content__description {
    font-size: 16px;
    line-height: 22px;
    max-width: 250px;
    margin-bottom: 25px;
  }

  main .main__content .main__content__link {
    font-size: 16px;
  }

  .main__hero .designer-card {
    max-width: 300px;
    padding: 20px 30px 34px 20px;
  }

  .main__hero .designer-card .designer-card__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
  }

  .main__hero .designer-card .designer-card__profile img {
    width: 38px;
    height: 38px;
  }

  .main__hero .designer-card .designer-card__profile .designer-card__profile__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .main__hero .designer-card .designer-card__profile .designer-card__profile__text .name {
    font-weight: 500;
    font-size: 12px;
  }

  .main__hero .designer-card .designer-card__profile .designer-card__profile__text .occupation {
    font-weight: 500;
    font-size: 10px;
    color: var(--color-gray);
  }

  .main__hero .designer-card .designer-card__text {
    font-size: 18px;
    line-height: 23px;
  }
}
